{:kotoba.app/id "cloud.itonami.isic-6190", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicf7ltkoxetkw4j3hjrnduqbk4sozqebqjs4ygkxux3nb6pmih7qi", :kotoba.app/embed-url "ipfs://bafkreicf7ltkoxetkw4j3hjrnduqbk4sozqebqjs4ygkxux3nb6pmih7qi", :published {:archive "https://kotobase.net/ipfs/bafkreicf7ltkoxetkw4j3hjrnduqbk4sozqebqjs4ygkxux3nb6pmih7qi", :size 74684, :put-status 201, :get-status 200, :at "2026-08-15T13:40:14.557Z"}}
